name: Tests

permissions:
    contents: read
    id-token: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Run Tests
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Run tests
      run: xcodebuild test -scheme MyTestProject -destination 'platform=macOS' -enableCodeCoverage YES -resultBundlePath ./TestResults.xcresult

    - name: Export coverage
      run: xcrun xccov view --archive --json TestResults.xcresult > xccov-coverage.json

    - name: Upload coverage report
      uses: qltysh/qlty-action/coverage@ea1eaf434a27bf50cd544153084fbb11c52aaf84
      with:
        oidc: true
        format: xccov-json
        files: xccov-coverage.json