name: Tests

permissions:
    contents: read
    id-token: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Run Tests
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

    - name: Show Swift version
      run: swift --version

    - name: Run tests
      run: swift test --enable-code-coverage

    - name: Export coverage report to lcov format
      run: xcrun llvm-cov export -format="lcov" .build/debug/SimpleCalcPackageTests.xctest/Contents/MacOS/SimpleCalcPackageTests -instr-profile=.build/debug/codecov/default.profdata > coverage.lcov

    - name: Upload coverage report
      uses: qltysh/qlty-action/coverage@92420f3093ba65970fed22ce5f162ecb8a5c1700
      with:
        oidc: true
        files: coverage.lcov